Checks: '-readability-identifier-naming, -performance-for-range-copy, -modernize-use-static-assert, -modernize-use-static, -readability-static-member-variables'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-static-member-variables
    value: true